<launch>

    <arg name="vehicle" default="wren"/>
    <arg name="vehicle_type" default="quad"/>
    <arg name="run_estimator" default="true"/>
    <arg name="run_rgbd" default="false"/>
    <arg name="control_mode" value="velocity_altitude"/>

    <include file="$(find reef_teleop)/launch/logitech_controller.launch">-->
        <arg name="control_mode" value="$(arg control_mode)"/>
        <arg name="initial_z_cmd" value="-1.0"/>
        <arg name="min_z_cmd" value="-3.0"/>
        <arg name="max_z_cmd" value="0.0"/>
        <arg name="invert_x" value="false"/>
        <arg name="x_dot_max" default="1.00"/>
        <arg name="y_dot_max" default="1.00"/>
        <arg name="yawrate_max" default="1.57"/>
    </include>

    <rosparam file="$(find reef_adaptive_control)/params/$(arg vehicle_type)_pid.yaml" />
    <node name="reef_control_pid" pkg="reef_adaptive_control" type="pid_control_node" output="screen"/>
    <node name="reef_control_adaptive" pkg="reef_adaptive_control" type="adaptive_node" output="screen">
        <rosparam file="$(find reef_adaptive_control)/params/adaptive_gains.yaml"/>
    </node>





</launch>