<launch>

    <arg name="vehicle" default="dodo"/>
    <arg name="run_teleop" default="false"/>
    <arg name="control_mode" value="velocity_altitude"/>

    <include if="$(arg run_teleop)" file="$(find reef_teleop)/launch/logitech_controller.launch">
        <arg name="control_mode" value="$(arg control_mode)"/>
        <arg name="initial_z_cmd" value="-1.0"/>
        <arg name="min_z_cmd" value="-3.0"/>
        <arg name="max_z_cmd" value="0.0"/>

        <arg name="invert_x" value="true"/>

        <arg name="x_dot_max" default="2.0"/>
        <arg name="y_dot_max" default="2.0"/>
        <arg name="yawrate_max" default="1.57"/>
    </include>

    <rosparam file="$(find reef_control)/params/$(arg vehicle)_pid.yaml" />
    <node name="reef_control_pid" pkg="reef_control" type="reef_control_node" output="screen"/>
</launch>
